# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.out
*.app

*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.cache

/packages/
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
/.svn/
/.vs/PMIS

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
PMIS.ElasticSearchService/elasticsearch-6.3.0/
PMISCore/Tools/
PMISCore/wwwroot/bundles/
PMISCore/Logs/PMISCore.Elmah/
PMIS.App.iOS/bin/*/**
PMIS.App.iOS/bin/iPhoneSimulator/Debug/
